@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 2vw;
  @media (max-width: 768px) {
    font-size: 3vw;
  }
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 3vw;
  @media (max-width: 768px) {
    font-size: 4vw;
  }
  font-weight: 700;
}

h2 {
  font-size: 2vw;
  @media (max-width: 768px) {
    font-size: 3vw;
  }
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #666;
}